{{!-- We will insert this partial into anywhere we want the chat client available --}}
    <div class="socket-container" id="messageContainer">
      <ul id="socketMessages"></ul>
    </div>
    <form id="socketForm" action="">
      <input id="socketText" autocomplete="off" /><button>Send</button>
    </form>