{{!-- Chat client --}}
<div class="col-md-4">
  <h3> Chat with fellow outdoor enthusiasts!</h3>
  <div class="socket-container row" id="messageContainer">
    <ul id="socketMessages" class="col"></ul>
  </div>
  <div class="row">
    <form id="socketForm" class="col-12" action="">
      <div class="row align-items-center px-1 justify-content-between">
        <input class="col-8 my-1" id="socketText" autocomplete="off"/>
        <button class="col-3 my-1" id="socketButton">Send</button>
      </div>
    </form>
  </div>
</div>