body {
  margin: 1em;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}
#socketForm {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  width: 500px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#socketText {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#socketText:focus {
  outline: none;
}
#socketForm > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#socketMessages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#socketMessages > li {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
#socketMessages > li:nth-child(odd) {
  background: #efefef;
}
.socket-message {
  margin-right: 1em;
  width: 295px;
}
.socket-user {
  width: 130px;
  overflow-wrap: anywhere;
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
  text-align: right;
}
.socket-container {
  height: 250px;
  width: 498px;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("./assets/mountain.jpeg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}